.productListImg{
   /* min-height: 100px; */
   
}
.box-shadow{
   box-shadow: 0 4px 5px rgba(0 ,0, 0,0.3);
}

button.product-btn1{
   
   color: rgb(255, 255, 255);
   border: none;
   padding: .5rem;
   font-family: inherit;
   /* font-size: smaller; */
   outline:none;
  
   box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.5);
   cursor: pointer;
   transition: transform 0.1s linear;
}
button.product-btn1:focus{
   outline: none;

}
button.product-btn1:active{
   box-shadow:none;
   transform: translate(2px,1.5px);
}



button.product-btn2{
   
   color: rgb(0, 0, 0);
   border: none;
   padding:.5rem;
   font-family: inherit;
   outline:none;
  
   box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.5);
   cursor: pointer;
   transition: transform 0.1s linear;
}
button.product-btn2:focus{
   outline: none;

}
button.product-btn2:active{
   box-shadow:none;
   transform: translate(2px,1.5px);
}