<!-- <p>product-item works!</p> -->
<div class="card h-100 mb-4 box-shadow">
    <img class="card-img-top productListImg" src="assets/img/{{productItem.imgUrl}}"alt="Card image cap"/>
    <div class="card-body">
      <p class="card-text">   
          <strong>To: {{productItem.destination}} <br>
                 For:{{productItem.duration}} <br>
                  {{productItem.price|currency:"EUR"}}
         </strong>
        </p>
          <p class="card-text">{{productItem.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
           <div class="btn-group">
          <button 
          type="button" 
          class="btn btn-sm btn-primary product-btn"
          (click)="handleAddToCart()" >Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary ">View Details</button>
         
        </div>
     
      </div>
      <div class="card-footer">
      <small class="text-muted">{{productItem.startDate}} </small>
    </div>
    </div>
  </div>