<div class="container"><div class="jumbotron">
    <h1 class="display-12">WHO WE ARE</h1>
    <p class="lead">Founded in 2016, <Strong>CodeFactory</Strong>  Wien follows the concept of programming boot camps of Anglo-American countries. Our goal is to provide time-efficient and very practice-oriented training with the aim of the fastest possible career entry as a junior developer.</p>
   

     <div class="map-responsive">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.5281063085467!2d16.357227315651134!3d48.196442979228195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da8192fde39d7%3A0xe543f0731e2b5529!2sCodeFactory!5e0!3m2!1sen!2sat!4v1616839343416!5m2!1sen!2sat" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        
        </div>




  </div> 
</div>
