<!-- <nav class="navbar navbar-inner navbar-expand-lg navbar-light bg-light">

  

    <div class="container-fluid ">
      <a class="navbar-brand" routerLink="/home"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shoppingTravel">Shopping</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student-list">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student-create">About</a>
          </li>
         
        </ul>
  
      </div>
    </div>
    </nav> -->
    <!-- <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
              <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="brand" href="#">lol</a>
                  <div class="nav-collapse collapse">
                      <ul class="nav pull-right">
                          <li class="active"><a href="/">Home</a></li>
                          <li><a href="about">About</a></li>
                      </ul>
                  </div>
              </div>
      </div>
  </div> -->