
<div class="container" style="width:90%">
<h2>Contact US</h2>

<form [formGroup]="contactUs">

    <label for="name">Name:</label>
    <input  class="form-control col-7" type="text"formControlName="name" >
    <small id="desHelp" class="form-text text-muted" >please your Full name.</small>
    <br>
    <label for="mail">@Mail:</label>
    <input  class="form-control col-7" type="text" formControlName="email">
    <small id="desHelp" class="form-text text-muted" >please your email address.</small>
    <br>
    <label for="message">Message:</label>
    <textarea  class="form-control col-12" name="message" formControlName="message" cols="5" rows="5"placeholder="Leave your Message"></textarea>    
    <input class="btn btn-primary" (click)="onSubmit()" type="submit" value="Send Message">



</form>


</div>
