.ownheader{
    background-color: aqua;

}
.ownheader{
    background-image: url(../../../../assets/img/hero2.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.linkUrl{

    margin-top: 20rem;
    text-align: center;
}


h4 span{
color:#fff;
}
.display-7 span{
    color: rgb(255, 255, 255);
}
.herotext{
    /* margin-top: 20rem; */
    padding-top: -20rem;
align-content: center;
text-align: center;
}

nav-link{}



.nav-link{
   
    color: rgb(0, 0, 0);
    border: none;
    padding: 2px;
    font-family: inherit;
    outline:none;
    margin: 2px;
   
    box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.5);
    cursor: pointer;
    transition: transform 0.1s linear;
 }
 .nav-link:focus{
    outline: none;
    color: #fff;
 
 }
 .nav-link:active{
    box-shadow:none;
    transform: translate(2px,1.5px);
    color: #fff;

 }


 
/* .own{
   
    color: rgb(0, 0, 0);
    border: none;
    padding: 2px;
    font-family: inherit;
    outline:none;
    margin: 2px;
   
    box-shadow: 2px 2px 0px 0px rgba(0,0,0, 0.5);
    cursor: pointer;
    transition: transform 0.1s linear;
 }
 .own:focus{
    outline: none;
    color: #fff;
 
 } */
 .own:active{
    box-shadow:none;
    transform: translate(2px,1.5px);
    color: #fff;

 }