<!-- <p>header works!</p> -->
<div class="ownheader">


    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-none">

  

        <div class="container-fluid ">
          <a class="navbar-brand" routerLink="/home"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link own" aria-current="page" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link own" routerLink="/shoppingTravel">Shopping</a>
              </li>
              <li class="nav-item">
                <a class="nav-link own" routerLink="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link own" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link own" routerLink="/contact">Contact Us</a>
              </li>
            </ul>
      
          </div>
        </div>
        </nav>


    
    <div class="jumbotron container">
     
        <div class="herotext">
            <h1 class="display-7">My <span>TRAVELLING</span></h1>
            <h4> <span>“</span> The world is a book and those who do not travel read only one page.<span>”</span><br></h4>
        </div>
        <!-- <div class="linkUrl">

               <a class="btn btn-primary btn-sm" href="http://alrakib.codefactory.live/FE21-CR4-ABDULLA/index.html" role="button">myMovieLIst</a>
        <a class="btn btn-primary btn-sm" href="http://alrakib.codefactory.live/FE21-CR5-ABDULLA/index.html" role="button">myBlog</a>
        </div>
      -->
    
       
      </div>
</div>